In [1]:
import pandas as pd

In [7]:
data_1 = [
    ["A", "1"],
    ["B", "1"],
    ["C", "2"],
]

data_2 = [
    ["a", "1"],
    ["b", "1"],
    ["a", "2"],
]

df_1 = pd.DataFrame(data_1, columns=["track", "artist"])
df_2 = pd.DataFrame(data_2, columns=["genre", "artist"])

df_1.merge(df_2, on="artist", how="left")

  track artist genre
0     A      1     a
1     A      1     b
2     B      1     a
3     B      1     b
4     C      2     a